@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  font-size: 10px;
  --background-color: #c5adc5;
  --secondary-color: white;
  --accent-Color: #213f99;
  --paddingSm: 1.75em;
  --paddingMd: calc(var(--paddingSm) * 1.25);
  --paddingLg: calc(var(--paddingMd) * 1.25);
  --paddingXs: calc(var(--paddingSm) * 0.25);
}

/*resets all elements*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: none;
}

body {
  background-image: linear-gradient(to right, #c5adc5, #b2b5e0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100svh; /*scalable viewport height*/
  max-width: 100svw;
  font-family: "Audiowide", sans-serif;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  height: 20svh;
  border: 2px solid rgb(128, 0, 0);
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}
.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--paddingXs);
  border: 1px solid rgb(255, 166, 0);
}

.logo-nav {
  padding: 1em 2.2em;
  border: 2px solid green;
  scale: 0.7;
  max-width: 100%;
  height: auto;
  text-align: center;
}

/* .logo-nav img {
  object-fit: contain;
  flex-grow: 300px;
} */

.logo-nav img:hover {
  transform: scale(1.2);
}
.nav_toggle {
  position: relative;
  margin-right: 50px;
}
.nav-burger,
.nav-close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  border: 2px solid red;
}

.nav-close {
  margin-left: 10px;
  opacity: 0;
  text-align: center;
}

.social-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  padding: var(--paddingXs);
  margin-top: 0;
  padding-top: 0;
  opacity: 0;
  border: 2px solid rgb(111, 0, 255);
  max-width: 100%;
  height: auto;
}
.social-nav div img {
  scale: 0.7;
  border: 1px solid;
  margin-right: -0.5em;
  padding: 0.2em;
}

.social-nav > div img:hover {
  transform: scale(0.9);
}

.show-menu {
  opacity: 1;
  top: 3.5rem;
}
.show-icon .nav-burger {
  transition: 1sec;
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav-close {
  opacity: 1;
  transform: rotate(90deg);
}

.content {
  padding: var(--paddingMd);
  margin: 20.5em 0 auto auto;
  min-height: 60svh;
  width: 80%;
  margin-left: 10%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.intro,
.project,
.copy-right {
  font-size: 2em;
  background-image: linear-gradient(to right, black, black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  padding-left: 20px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      rgb(250, 250, 250),
      rgba(221, 115, 221, 0)
    )
    0% 0% 0% 1%;
}
.greeting-text,
.project-content {
  margin-bottom: 0.5em;
}
.project li {
  list-style-type: none;
  padding: 0.1em;
}

.project-names li:hover {
  background-image: linear-gradient(
    to right,
    rgb(238, 235, 235),
    rgb(235, 234, 234)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-style: scale(1.2);
}
.nameId:hover {
  background-image: linear-gradient(
    to right,
    rgb(238, 235, 235),
    rgb(235, 234, 234)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-style: scale(1.2);
}

.copy-right {
  font-size: 2em;
  border: 2px solid black;
  text-align: center;
  width: 50%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 861px) {
  .logo-nav {
    width: 100%;
    padding: 1em 2.2em;
    border: 2px solid rgb(128, 0, 0);
    scale: 0.7;
    max-width: 100%;
    height: auto;
    text-align: center;
  }

  .social-nav {
    width: 15%;
    height: 10%vh;
    text-align: center;
    padding: var(--paddingXs);
  }

  .nav_toggle {
    display: none;
  }
  header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: auto;
    border-style: outset;
  }
  .social-nav {
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 10%;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--paddingLg);
    min-height: 60svh;
    margin-top: 12em;
    font-size: 1.2em;
  }

  .intro,
  .project {
    flex: 1;
    max-width: 45%;
    /* border: 1px solid; */
    text-align: center;
  }
}
