@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  font-size: 10px;

  --background-color: rgb(100, 27, 76);
  --brandColor: rgb(218, 218, 218);
  --textColor: rgba(66, 66, 66, 0.849);
  --accentColor: rgb(204, 201, 233);
  --onAccent: rgb(0, 0, 0);
  --transparentAccentColor: rgba(66, 66, 66, 0.849);

  --paddingSm: 1.75em;
  --paddingMd: calc(var(--paddingSm) * 1.25);
  --paddingLg: calc(var(--paddingMd) * 1.25);
  --paddingXs: calc(var(--paddingSm) * 0.25);
}

/*resets all elements*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: none;
}

body {
  background-color: var(--brandColor);
  font-family: "Roboto", sans-serif;
  font-style: italic;
  display: flex;
  flex-direction: column;
  min-height: 100svh; /*scalable viewport height*/
  max-width: 100svw;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

header h1 {
  font-size: var(--paddingMd);
}

header nav ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}
header nav ul li a,
header nav ul li a:active,
header nav ul li a:visited,
header nav ul li a:hover {
  color: var(--onAccent);
  text-decoration: none;
  font-weight: none;
  font-size: var(--paddingMd);
  padding: var(--paddingXs);
  border-radius: var(--paddingSm); /*circle hover*/
}
header nav ul li a:hover {
  background-color: var(--accentColor);
}

header nav ul {
  display: flex;
  list-style-type: none;
}

main section {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  justify-content: center;
  font-size: var(--paddingLg);
}
#contact ul li,
h2 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: var(--paddingXs);
}

/*for mobile*/
@media screen and (min-width: 762px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--paddingSm);
  }
  header nav ul {
    flex-direction: row;
  }
  main section {
    padding: var(--paddingLg);
  }
}

footer {
  display: flex;
  flex-direction: row;

  padding: var(--paddingXs);
}
h1 {
  font-size: var(--paddingLg);
  text-align: left;
}

h2 {
  font-size: var(--paddingMd);
}
p {
  font-size: var(--paddingXs);
}
